<div class="row">
    <div class="col-6">
        <h1>Select Country</h1>
    </div>
    <div class="col-6 text-right">
        <a href="#" class="btn btn-secondary" [routerLink] = "'/leagues'" >Leagues</a>
    </div>
</div>
<br /><br />

<div class="row" *ngIf="payment !== ''">
    <div class="col-md-12">

        <h2 class="text-center"> {{ payment }} </h2>

    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="btn-group margenes" role="group" aria-label="Basic example">
            <button (click)="changeDate(0)" type="button" [ngClass]="{'active': selectedDate === 'TODAY' }" class="btn btn-secondary">TODAY</button>
            <button (click)="changeDate(1)" type="button" [ngClass]="{'active': selectedDate === midDate }" class="btn btn-secondary">{{ midDate }}</button>
            <button (click)="changeDate(2)" type="button" [ngClass]="{'active': selectedDate === endDate }" class="btn btn-secondary">{{ endDate }}</button>
        </div>
    </div>
</div>
<br /><br />

<div class="row">
    <div class="col-md-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                
                <div *ngIf="countries" class="margin">
                    <select class="custom-select" (change)="changeCountry()" [(ngModel)]="country" name="countries" id="countries">
                        <option *ngFor="let item of countries" [value]="item.country_key" > {{ item.country_name }} </option>
                    </select>
                </div>

                <div *ngIf="leagues" class="margin">
                    <select [(ngModel)]="leagueId" *ngIf="leagues" name="leagues" id="leagues" class="custom-select">
                        <option *ngFor="let item of leagues" [value]="item.league_key" > {{ item.league_name }} </option>
                    </select>
                </div>

                <div class="margin">
                    <button id="search" name="search" class="btn btn-primary" (click)="getGames()" >Search</button>
                </div>
                
            </div>
        </div>
    </div>
  </div>
  <br /><br />
  <div *ngIf="games" class="row">
      <div class="col-md-12">
        <div *ngIf="games.length === 0" class="row">
            <div class="col-md-12">
                <h1 class="text-center"> No games for today!</h1>
            </div>
        </div>
        <div *ngIf="games.length > 0" class="row">
            <div class="col-lg-10 col-center">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Home</th>
                            <th></th>
                            <th class="text-center">Away</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let game of games; let i = index">
                            <tr>
                                <td>
                                    <div>
                                        <img class="team-logo" [src]="game.event_home_team_logo" alt="SMU">
                                        {{ game.event_home_team }}
                                    </div>
                                    <div>
                                        <span>
                                            {{ game.homeAveragePoints | number }}
                                        </span>
                                    </div>
                                    <div>
                                        <span> {{ game.homeAveragePoints - game.awayAveragePoints | number }}  </span> &nbsp;
                                    </div>
                                </td>
                                <td>
                                    <div><span> {{ game.homeAveragePoints + game.awayAveragePoints | number }} </span></div>
                                    <span *ngIf="game.event_status === 'Finished'" class="odds"> {{ game.event_final_result }} </span>
                                    <div>
                                        <span>
                                            <i class="far fa-clock"></i>
                                            {{ game.event_time }}
                                        </span>
                                    </div>
                                </td>
                                <td class="rigt-panel">
                                    <div>
                                        <img class="team-logo" [src]="game.event_away_team_logo" alt="away">
                                        {{ game.event_away_team }}
                                    </div>
                                    <div>
                                        <span>
                                            {{ game.awayAveragePoints | number }}
                                        </span>
                                    </div>
                                    <div>
                                        {{ game.awayAveragePoints - game.homeAveragePoints | number }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Accordion  -->
                                        <a [href]="'#'+game.teams.home.name.substring(0,3).replace(' ','')+game.teams.away.name.substring(0,3).replace(' ','')"  class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseble">
                                            <h6 class="m-0 font-weight-bold text-primary">History Details</h6>
                                        </a>
                                        <!-- Card Content - Collapse -->
                                        <div class="collapse" [id]="game.teams.home.name.substring(0,3).replace(' ','')+game.teams.away.name.substring(0,3).replace(' ','')">
                                            <div class="card-body body-games">
                                                <tabs class="tabs">
                                                    <tab tabTitle="Home">
                                                        <table class="table table-sm">
                                                            <tbody>
                                                                <tr *ngFor="let homeGames of game.analizeHomeGames">
                                                                    <td class="date"> {{ homeGames.date | date:'YYYY-MM-DD' }} </td>
                                                                    <td [ngClass]="{ 'team': game.event_home_team ===  homeGames.homeName }"> {{ homeGames.teams.home.name }} </td>
                                                                    <td> {{ homeGames.scores.home.total }}:{{ homeGames.scores.away.total }}</td>
                                                                    <td [ngClass]="{ 'team': game.event_home_team ===  homeGames.awayName }"> {{ homeGames.teams.away.name }}</td>
                                                                    <td class="win-lose">
                                                                        <div [ngClass]="homeGames.win">
                                                                            {{ homeGames.win }}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </tab>
                                                    <tab tabTitle="Away">
                                                        <table class="table table-sm">
                                                            <tbody>
                                                                <tr *ngFor="let awayGames of game.analizeAwayGames">
                                                                    <td class="date"> {{ awayGames.gameDate.substr(5) }} </td>
                                                                    <td [ngClass]="{ 'team': game.event_away_team ===  awayGames.homeName }"> {{ awayGames.homeName }} </td>
                                                                    <td class="results"> {{ awayGames.homeScore }}:{{ awayGames.awayScore }}</td>
                                                                    <td [ngClass]="{ 'team': game.event_away_team ===  awayGames.awayName }"> {{ awayGames.awayName }}</td>
                                                                    <td class="win-lose">
                                                                        <div [ngClass]="awayGames.win">
                                                                            {{ awayGames.win }}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </tab>
                                                    <tab tabTitle="H2H">
                                                    </tab>
                                                </tabs>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

      </div>
  </div>