<section class="section parallax-container breadcrumbs-wrap" data-parallax-img="assets/images/bg-breadcrumbs-1-1920x726.jpg"><div class="material-parallax parallax"><img src="assets/images/bg-breadcrumbs-1-1920x726.jpg" alt="" style="display: block; transform: translate3d(-50%, 122px, 0px);"></div>
  <div class="parallax-content breadcrumbs-custom context-dark">
  </div>
</section>

<section class="section section-variant-1 auth-section bg-gray-100">
  <div class="container">
    <div class="row row-50 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card-login-register" id="card-l-r">
          <div class="card-top-panel">
            <div class="card-top-panel-left">
              <h5 class="card-title card-title-login">Inicio de Sesión</h5>
              <h5 class="card-title card-title-register">Registrar</h5>
            </div>
            <div class="card-top-panel-right">
              <span class="card-subtitle">
              <span *ngIf="!isRegister" class="card-subtitle-login">Regístrarse Ahora</span>
              <span *ngIf="isRegister" class="card-subtitle-login">Iniciar Sesión</span></span>
              <button class="card-toggle data-custom-toggle active" [ngClass]="{'active': isRegister}" (click)="isRegister = !isRegister"><span class="card-toggle-circle"></span></button>
            </div>
          </div>
          <div class="card-form card-form-login" *ngIf="!isRegister">
            <app-user-login></app-user-login>
          </div>
          <div class="card-form card-form-login" *ngIf="isRegister">
            <app-user-register></app-user-register>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="section footer-classic footer-classic-dark">
  <div class="footer-classic-aside footer-classic-darken">
    <div class="container">
      <div class="layout-justify">
        <!-- Rights-->
        <p class="rights"><span>Miklo-APP</span><span>&nbsp;©&nbsp;</span><span class="copyright-year">2021</span><span>.&nbsp;</span><a class="link-underline" href="privacy-policy.html">Políitica de Privacidad</a></p>
        <nav class="nav-minimal">
          <ul class="nav-minimal-list">
            <li class="active"><a href="//teammiklo.com" target="_blank" >Team Miklo Web</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>