<div class="preloader">
  <div class="preloader-body">
    <div class="preloader-item"></div>
  </div>
</div>
<!-- Section Login/register-->
<section class="section section-variant-1 bg-gray-100">
  <div class="container">
    <div class="row row-50 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card-login-register" id="card-l-r">
          <div class="card-top-panel">
            <div class="card-top-panel-left">
              <h5 class="card-title card-title-login">Login</h5>
              <h5 class="card-title card-title-register">Register</h5>
            </div>
            <div class="card-top-panel-right"><span class="card-subtitle"><span class="card-subtitle-login">Register now</span><span class="card-subtitle-register">Sign in</span></span>
              <button class="card-toggle" data-custom-toggle="#card-l-r"><span class="card-toggle-circle"></span></button>
            </div>
          </div>
          <div class="card-form card-form-login">
            <form class="rd-form rd-mailform">
              <div class="form-wrap">
                <label class="form-label" for="form-login-name-1">Login</label>
                <input class="form-input" id="form-login-name-1" type="text" name="form-input" data-constraints="@Required">
              </div>
              <div class="form-wrap">
                <label class="form-label" for="form-login-password-1">Password</label>
                <input class="form-input" id="form-login-password-1" type="password" name="password" data-constraints="@Required">
              </div>
              <label class="checkbox-inline checkbox-inline-lg checkbox-light">
                <input name="input-checkbox-1" value="checkbox-1" type="checkbox">Remember Me
              </label>
              <button class="button button-lg button-primary button-block" type="submit">Sign in</button>
            </form>
            <div class="group-sm group-sm-justify group-middle"><a class="button button-google button-icon button-icon-left button-round" href="#"><span class="icon fa fa-google-plus"></span><span>Google+</span></a><a class="button button-twitter button-icon button-icon-left button-round" href="#"><span class="icon fa fa-twitter"></span><span>Twitter</span></a><a class="button button-facebook button-icon button-icon-left button-round" href="#"><span class="icon fa fa-facebook"></span><span>Facebook</span></a></div>
          </div>
          <div class="card-form card-form-register">
            <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
              <div class="form-wrap">
                <label class="form-label" for="form-register-email">E-mail</label>
                <input class="form-input" id="form-register-email" type="email" name="email" data-constraints="@Email @Required">
              </div>
              <div class="form-wrap">
                <label class="form-label" for="form-login-name-2">Login</label>
                <input class="form-input" id="form-login-name-2" type="text" name="form-input" data-constraints="@Required">
              </div>
              <div class="form-wrap">
                <label class="form-label" for="form-login-password-2">Password</label>
                <input class="form-input" id="form-login-password-2" type="password" name="password" data-constraints="@Required">
              </div>
              <div class="form-wrap">
                <label class="form-label" for="form-login-password-3">Repeat Password</label>
                <input class="form-input" id="form-login-password-3" type="password" name="password" data-constraints="@Required">
              </div>
              <button class="button button-lg button-primary button-block" type="submit">Create new account</button>
            </form>
            <div class="group-sm group-sm-justify group-middle"><a class="button button-google button-icon button-icon-left button-round" href="#"><span class="icon fa fa-google-plus"></span><span>Google+</span></a><a class="button button-twitter button-icon button-icon-left button-round" href="#"><span class="icon fa fa-twitter"></span><span>Twitter</span></a><a class="button button-facebook button-icon button-icon-left button-round" href="#"><span class="icon fa fa-facebook"></span><span>Facebook</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="section parallax-container breadcrumbs-wrap" data-parallax-img="assets/images/bg-breadcrumbs-1-1920x726.jpg"><div class="material-parallax parallax"><img src="assets/images/bg-breadcrumbs-1-1920x726.jpg" alt="" style="display: block; transform: translate3d(-50%, 122px, 0px);"></div>
  <div class="parallax-content breadcrumbs-custom context-dark">
  </div>
</section>

<section class="section section-variant-1 auth-section bg-gray-100">
  <div class="container">
    <div class="row row-50 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card-login-register" id="card-l-r">
          <div class="card-top-panel">
            <div class="card-top-panel-left">
              <h5 class="card-title card-title-login">Inicio de Sesión</h5>
              <h5 class="card-title card-title-register">Registrar</h5>
            </div>
            <div class="card-top-panel-right">
              <span class="card-subtitle">
              <span *ngIf="!isRegister" class="card-subtitle-login">Regístrarse Ahora</span>
              <span *ngIf="isRegister" class="card-subtitle-login">Iniciar Sesión</span></span>
              <button class="card-toggle data-custom-toggle active" [ngClass]="{'active': isRegister}" (click)="isRegister = !isRegister"><span class="card-toggle-circle"></span></button>
            </div>
          </div>
          <div class="card-form card-form-login" *ngIf="!isRegister">
            <app-user-login></app-user-login>
          </div>
          <div class="card-form card-form-login" *ngIf="isRegister">
            <app-user-register></app-user-register>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="section footer-classic footer-classic-dark">
  <div class="footer-classic-aside footer-classic-darken">
    <div class="container">
      <div class="layout-justify">
        <p class="rights"><span>Miklo-APP</span><span>&nbsp;©&nbsp;</span><span class="copyright-year">2021</span><span>.&nbsp;</span><a class="link-underline" href="privacy-policy.html">Políitica de Privacidad</a></p>
        <nav class="nav-minimal">
          <ul class="nav-minimal-list">
            <li class="active"><a href="//teammiklo.com" target="_blank" >Team Miklo Web</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer> -->