
<div class="row">
    <div class="col-6">
        <div class="btn-group margenes" role="group" aria-label="Basic example">
            <button (click)="changeDate(0)" type="button" [ngClass]="{'active': selectedDate === 'TODAY' }" class="btn btn-secondary">TODAY</button>
            <button (click)="changeDate(1)" type="button" [ngClass]="{'active': selectedDate === midDate }" class="btn btn-secondary">{{ midDate }}</button>
            <button (click)="changeDate(2)" type="button" [ngClass]="{'active': selectedDate === endDate }" class="btn btn-secondary">{{ endDate }}</button>
        </div>
    </div>
    <div class="col-6 text-right">
        <a href="#" class="btn btn-secondary" [routerLink] = "'/leagues'" >Leagues</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-8 col-center">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Home</th>
                    <th></th>
                    <th class="text-center">Away</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let game of games; let i = index">
                <tr>
                    <td>
                        <div>
                            <img class="team-logo" [src]="game.event_home_team_logo" alt="SMU">
                            {{ game.event_home_team }}
                        </div>
                        <div>
                            <span>
                                {{ game.homeAveragePoints | number }}
                            </span>
                        </div>
                        <div>
                            <span> {{ game.homeAveragePoints - game.awayAveragePoints | number }}  </span> &nbsp;
                        </div>
                    </td>
                    <td>
                        <div><span> {{ game.homeAveragePoints + game.awayAveragePoints | number }} </span></div>
                        <span *ngIf="game.event_status === 'Finished'" class="odds"> {{ game.event_final_result }} </span>
                    </td>
                    <td class="rigt-panel">
                        <div>
                            <img class="team-logo" [src]="game.event_away_team_logo" alt="away">
                            {{ game.event_away_team }}
                        </div>
                        <div>
                            <span>
                                {{ game.awayAveragePoints | number }}
                            </span>
                        </div>
                        <div>
                            {{ game.awayAveragePoints - game.homeAveragePoints | number }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <a [href]="'#'+game.event_home_team.substring(0,3).replace(' ','')+game.event_away_team.substring(0,3).replace(' ','')" (click)="head2head( game )" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseble">
                                <h6 class="m-0 font-weight-bold text-primary">History Details</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse" [id]="game.event_home_team.substring(0,3).replace(' ','')+game.event_away_team.substring(0,3).replace(' ','')">
                                <div class="card-body">
                                    <tabs class="tabs">
                                        <tab tabTitle="Home">
                                            <table class="table table-sm">
                                                <tbody>
                                                    <tr *ngFor="let homeGames of game.analizeHomeGames">
                                                        <td class="date"> {{ homeGames.gameDate.substr(5) }} </td>
                                                        <td [ngClass]="{ 'team': game.event_home_team ===  homeGames.homeName }"> {{ homeGames.homeName }} </td>
                                                        <td> {{ homeGames.homeScore }}:{{ homeGames.awayScore }}</td>
                                                        <td [ngClass]="{ 'team': game.event_home_team ===  homeGames.awayName }"> {{ homeGames.awayName }}</td>
                                                        <td class="win-lose">
                                                            <div [ngClass]="homeGames.win">
                                                                {{ homeGames.win }}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </tab>
                                        <tab tabTitle="Away">
                                            <table class="table table-sm">
                                                <tbody>
                                                    <tr *ngFor="let awayGames of game.analizeAwayGames">
                                                        <td class="date"> {{ awayGames.gameDate.substr(5) }} </td>
                                                        <td [ngClass]="{ 'team': game.event_away_team ===  awayGames.homeName }"> {{ awayGames.homeName }} </td>
                                                        <td class="results"> {{ awayGames.homeScore }}:{{ awayGames.awayScore }}</td>
                                                        <td [ngClass]="{ 'team': game.event_away_team ===  awayGames.awayName }"> {{ awayGames.awayName }}</td>
                                                        <td class="win-lose">
                                                            <div [ngClass]="awayGames.win">
                                                                {{ awayGames.win }}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </tab>
                                        <tab tabTitle="H2H">
                                            <table class="table table-sm" *ngIf="game.h2hGames">
                                                <tbody>
                                                    <tr *ngFor="let facesGames of game.h2hGames">
                                                        <td class="faces-date"> {{ facesGames.event_date }} </td>
                                                        <td> {{ facesGames.event_home_team }} </td>
                                                        <td class="results"> {{ facesGames.event_final_result }}</td>
                                                        <td> {{ facesGames.event_away_team }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </tab>
                                    </tabs>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>