
<div class="row">
    <div class="col-6">
        <div class="btn-group margenes" role="group" aria-label="Basic example">
            <button (click)="changeDate(-1)" type="button" [ngClass]="{'active': valueDay === -1 }" class="btn btn-secondary">{{ displayDate(-1) }}</button>
            <button (click)="changeDate(0)" type="button" [ngClass]="{'active': valueDay === 0 }" class="btn btn-secondary">TODAY</button>
            <button (click)="changeDate(1)" type="button" [ngClass]="{'active': valueDay === 1 }" class="btn btn-secondary">{{ displayDate(1) }}</button>
        </div>
    </div>
    <div class="col-6 text-right">
        <span>{{ displayDate( 0 ) }}</span>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-8 col-center">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Home</th>
                    <th></th>
                    <th class="text-center">Away</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of games; let i = index">
                    <td>
                        <div>
                            <img class="team-logo" [src]="game.event_home_team_logo" alt="SMU">
                            {{ game.event_home_team }}
                        </div>
                        <div>
                            <span>
                                {{ game.homeAveragePoints }}
                            </span>
                        </div>
                        <div>
                            <span> {{ game.homeTotalPoints - game.awayTotalPoints }}  </span> &nbsp;
                            <!-- <span class="odds"> odds here </span> -->
                        </div>
                    </td>
                    <td>
                        <div><span> {{ game.homeTotalPoints + game.awayTotalPoints }} </span></div>
                        <!-- <div><span class="odds"> OverUnder Here!! </span></div> -->
                    </td>
                    <td class="rigt-panel">
                        <div>
                            <img class="team-logo" [src]="game.event_away_team_logo" alt="away">
                            {{ game.event_away_team }}
                        </div>
                        <div>
                            <span>
                                {{ game.awayAveragePoints }}
                            </span>
                        </div>
                        <div>
                            {{ game.awayTotalPoints - game.homeTotalPoints }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>