<div class="row">
    <h1>Select League</h1>
</div>
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4 clickeable" *ngFor="let league of leagues" (click)="openLeague( league )">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="title font-weight-bold text-primary text-uppercase mb-1">{{ league.title }}</div>
                    </div>
                    <div class="col-auto">
                        <img class="img-logo" [src]="league.img" [alt]="league.title" />
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>