
<div class="row">
    <div class="col-6">
        <div class="btn-group margenes" role="group" aria-label="Basic example">
            <button (click)="changeDate(-1)" type="button" [ngClass]="{'active': valueDay === -1 }" class="btn btn-secondary">{{ displayDate(-1) }}</button>
            <button (click)="changeDate(0)" type="button" [ngClass]="{'active': valueDay === 0 }" class="btn btn-secondary">TODAY</button>
            <button (click)="changeDate(1)" type="button" [ngClass]="{'active': valueDay === 1 }" class="btn btn-secondary">{{ displayDate(1) }}</button>
        </div>
    </div>
    <div class="col-6 text-right">
        <a href="#" class="btn btn-secondary" [routerLink] = "'/leagues'" >Leagues</a>
    </div>
</div>
<hr />
<div *ngIf="teams" class="row">
    <div class="col-lg-8 col-center">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Home</th>
                    <th></th>
                    <th class="text-center">Away</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of games; let i = index">
                    <td>
                        <div>
                            ( {{ getTeam( game.HomeTeamID ).Wins }} - {{ getTeam( game.HomeTeamID ).Losses }} )
                        </div>
                        <div>
                            <img class="team-logo" [src]="getTeam( game.HomeTeamID ).TeamLogoUrl" alt="SMU">
                            {{ getTeam( game.HomeTeamID ).School.length > 11 ? getTeam( game.HomeTeamID ).Key : getTeam( game.HomeTeamID ).School }}
                        </div>
                        <div>
                            <span *ngIf="game.resultHome && game.resultAway">
                                {{ (game.resultHome / divider) | number }}
                            </span>
                        </div>
                        <div>
                            <span *ngIf="game.resultHome && game.resultAway">{{ (game.resultHome - game.resultAway) / divider | number }}</span> &nbsp;
                            <span class="odds">{{ game.PointSpread | number }}</span>                            
                        </div>
                    </td>
                    <td>
                        <div><span *ngIf="game.resultHome && game.resultAway">{{ (game.resultHome + game.resultAway) / divider | number }}</span></div>
                        <div><span class="odds"> {{ game.OverUnder }} </span></div>
                    </td>
                    <td class="rigt-panel">
                        <div>
                            ( {{ getTeam( game.AwayTeamID ).Wins }} - {{ getTeam( game.AwayTeamID ).Losses }} )
                        </div>
                        <div>
                            <img class="team-logo" [src]="getTeam( game.AwayTeamID ).TeamLogoUrl" alt="SMU">
                            {{ getTeam( game.AwayTeamID ).School }}
                        </div>
                        <div>
                            <span *ngIf="game.resultHome && game.resultAway">
                                {{ (game.resultAway / divider) | number }}
                            </span>
                        </div>
                        <div *ngIf="game.resultHome && game.resultAway">
                            {{ (game.resultAway - game.resultHome) / divider | number }}
                        </div>
                    </td>
                    <td style="text-align: right;">
                        <button *ngIf="!loading" type="button" class="btn btn-primary btn-sm" (click)="calculate( game )">
                            <i class="fa fa-calculator"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>