
<div class="row">
    <div class="col-6">
        <div class="btn-group margenes" role="group" aria-label="Basic example">
            <button (click)="changeDate(-1)" type="button" [ngClass]="{'active': valueDay === -1 }" class="btn btn-secondary">{{ displayDate(-1) }}</button>
            <button (click)="changeDate(0)" type="button" [ngClass]="{'active': valueDay === 0 }" class="btn btn-secondary">TODAY</button>
            <button (click)="changeDate(1)" type="button" [ngClass]="{'active': valueDay === 1 }" class="btn btn-secondary">{{ displayDate(1) }}</button>
        </div>
    </div>
    <div class="col-6 text-right">
        <span>{{ displayDate() }}</span>
    </div>
</div>
<hr />
<div *ngIf="teams" class="row">
    <div class="col-lg-8 col-center">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Home</th>
                    <th></th>
                    <th class="text-center">Away</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of games">
                    <td>
                        <div>
                            ( {{ game.home_points }} )
                        </div>
                        <div>
                            <!-- <img class="team-logo" [src]="getTeam( game.HomeTeamID ).TeamLogoUrl" alt="SMU"> -->
                            {{ game.home.name }}
                        </div>
                        <div>
                            {{ game.resultHome | number }}
                        </div>
                        <div>
                            <!-- <span>{{ game.resultHome - game.resultAway | number }}</span> &nbsp;
                            <span class="odds">{{ game.PointSpread | number }}</span> -->
                        </div>
                    </td>
                    <td>
                        <div><span>{{ game.resultHome + game.resultAway | number }}</span></div>
                        <!-- <div><span class="odds"> {{ game.OverUnder }} </span></div> -->
                    </td>
                    <td class="rigt-panel">
                        <div>
                            ( {{ game.away_points }} )
                        </div>
                        <div>
                            <!-- <img class="team-logo" [src]="getTeam( game.AwayTeamID ).TeamLogoUrl" alt="SMU"> -->
                            {{ game.away.name }}
                        </div>
                        <div>
                            {{ game.resultAway | number }}
                        </div>
                        <div>
                            <!-- {{ game.resultAway - game.resultHome | number }} -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>